<launch>

  <node name="found_torque_control" pkg="kondo_b3mservo_rosdriver" type="found_torque_control.py" output="screen"/>
  <node name="generate_found_command_joy"   pkg="kondo_b3mservo_rosdriver" type="generate_found_command_joy.py" output="screen"/>

  <node name="joy_node"   pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="10"/>
  </node>

</launch>
