<launch>

  <node name="positon_control_autodetect" pkg="kondo_b3mservo_rosdriver" type="position_control_autodetect.py" output="screen"/>
  <node name="generate_command_autodetect_joy"   pkg="kondo_b3mservo_rosdriver" type="generate_command_autodetect_joy.py" output="screen"/>

  <node name="joy_node"   pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="10"/>
  </node>

</launch>
